{%- assign _author = include.author -%}

<div class="author-links">
  <ul>
    Sponsors
  </ul>
  <ul class="menu menu--nowrap menu--inline">
      {%- assign site_timestamp = site.time | date: "%Y-%m-%d" -%}
      {%- for company in site.data.sponsors -%}
      {%- assign company_timestamp = company.valid_until | date: "%Y-%m-%d" -%}
        {%- if site_timestamp < company_timestamp -%}
          <li>
            <a 
            itemprop="sameAs" href="{{ company.link }}" 
            rel="noreferrer"
            target="_blank">
            <img class="image image--sm" alt="{{ company.name }} logo, confirmed until {{ company_timestamp }}" src="{{ company.logo }}">
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}

  </ul>
</div>
