{%- assign _author = include.author -%}

<div class="author-links">
  <ul>
    Sponsors
  </ul>
  <ul class="menu menu--nowrap menu--inline">
      <li>
        <a 
        itemprop="sameAs" href="https://akerbp.com/en/" 
        rel="noreferrer"
        target="_blank">
        <img class="image image--xs" src="/assets/logos/akerbplogo.png">
        </a>
      </li>
      <li>
        <a 
        itemprop="sameAs" href="https://www.equinor.com/" 
        rel="noreferrer"
        target="_blank">
        <img class="image image--xs" src="/assets/logos/equinorlogo.png">
        </a>
      </li>
      <li>
        <a 
        itemprop="sameAs" href="https://www.rogii.com/" 
        rel="noreferrer"
        target="_blank">
        <img class="image image--xs" src="/assets/logos/rogii_logo_index-1.png">
        </a>
      </li>
      <!-- <li>
        <a class="button button--circle medium-button" 
        itemprop="sameAs" href="https://al-digital.no/nfes" 
        rel="noreferrer"
        target="_blank">
          <div class="icon">{%- include svg/logo.svg -%}</div>
        </a>
      </li> -->
  </ul>
</div>
