/* start custom scss snippet */

.article__presenter {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  color: #555;

  .presenter__affiliation {
    color: #888;
    font-style: italic;
  }
}

/* end custom scss snippet */
