---
layout: page
---

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

</div>

{%- assign _page_articles_data_source = page.articles.data_source | default: layout.articles.data_source -%}

{%- if _page_articles_data_source -%}
{%- assign _keys = _page_articles_data_source | split: '.' -%}
{%- endif -%}

{%- assign _articles = nil -%}
{%- for _key in _keys -%}
  {%- if forloop.first -%}
    {%- case _key -%}
      {%- when 'site' -%}
        {%- assign _articles = site -%}
      {%- when 'page' -%}
        {%- assign _articles = page -%}
      {%- when 'layout' -%}
        {%- assign _articles = layout -%}
      {%- when 'paginator' -%}
        {%- assign _articles = paginator -%}
      {%- else -%}
        {%- assign _articles = site[_key] -%}
      {%- else -%}
    {%- endcase -%}
  {%- else -%}
    {%- assign _articles = _articles[_key] -%}
  {%- endif -%}
{%- endfor -%}

{%- assign _type = page.articles.type | default: layout.articles.type -%}

